@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$font-color: orange;

.home-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;

  height: 100%;

  .welcome {
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: rgba(154, 9, 190, 0.178);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 30%;
    border-top-right-radius: 20%;
    .hello {
      display: flex;
      flex-direction: column;
    }
    .welcome-header {
      z-index: 3;
      margin-left: 8rem;
      font-family: "Chakra Petch", sans-serif;
      color: $font-color;
      font-size: 4rem;
      text-align: center;
      margin-top: 3rem;

      span {
        color: aqua;
      }
    }
    @media screen and (max-width: 1000px) {
      .welcome-header {
        font-size: 3rem;
      }
    }
    @media screen and (max-width: 670px) {
      .welcome-header {
        font-size: 1.5rem;
      }
    }
  }
  .skills {
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: rgba(154, 9, 190, 0.178);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 30%;
    border-top-right-radius: 20%;
    margin-top: 2rem;
    justify-content: end;

    .list-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 4rem;
      text-align: start;
      width: 100%;

      h1 {
        font-size: 3rem;
        letter-spacing: 2px;
        margin-top: 20px;
        color: aqua;
        font-family: "Chakra Petch", sans-serif;
        text-align: start;
        text-shadow: 2px 2px #000000;
      }
      ul {
        margin-top: 30px;
      }
      ul li {
        list-style: none;
        font-size: 3.2rem;
        margin-top: 26px;
        margin-bottom: 26px;
        color: orange;
        text-align: start;
        font-family: "Chakra Petch", sans-serif;
        text-shadow: 2px 2px #000000;
      }
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  h1 {
    font-family: "Josefin Slab", serif;
    color: $font-color;
    font-weight: 900;
    font-size: 2rem;
  }
}
.projects-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: rgba(156, 6, 194, 0.281);
  border-radius: 10% 33% 12% 20%;
}

.arrow-btn {
  font-size: 400%;

  margin: 4rem;

  color: orange;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.arrow-btn:hover {
  color: aqua;
  border-radius: 100px;

  background-color: black;
}

//Bubbles CSS //
