@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$font-color: orange;

.home-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 100%;

  .welcome {
    width: 80%;

    h1 {
      font-family: "Chakra Petch", sans-serif;
      color: $font-color;
      font-size: 4rem;
      text-align: center;
      span {
        color: aqua;
      }
    }
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    h1 {
      font-family: "Josefin Slab", serif;
      color: $font-color;
      font-weight: 900;
      font-size: 2rem;
    }
  }
  .projects-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    width: 80%;
    border: 2px solid white;
    border-radius: 10px;
  }
}
.single-project {
  display: grid;
  justify-items: center;
  width: 90%;
  border: 2px solid red;
  border-radius: 20px;
  margin: 10px;
  img {
    width: 96%;
    height: 100%;
    border: 1px solid orange;
    border-radius: 20px;
  }
}
